*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* INIZIO COMMON */

body {
   font-family: 'Rubik Mono One', sans-serif;
}

.bg-r {
   background: red;
   color: yellow;
}

.bg-g {
   background: green;
   color: yellow;
}

.bg-y {
   background: yellow;
   color: green;
}
/* FINE COMMON */

/* INIZIO MAIN */

.article {
   width: 100%;
   height: 100vh;
   position: relative;
}

.content {
   /* border: 1px solid black; */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.content > h2 {
   width: 50%;
   margin: 0 auto;
}
/* FINE MAIN */

/* INIZIO DEBUG */

.debug .article {
   width: 100%;
   height: 100vh;
   position: relative;
}

.debug .bg-r {
   background: red;
   color: yellow;
}

.debug .bg-g {
   background: green;
   color: yellow;
}

.debug .bg-y {
   background: yellow;
   color: green;
}

.debug h2 {
   width: 50%;
   margin: 0 auto;
}
/* FINE DEBUG */